.section__what {
  margin: 50px 0 0;
}

@media (min-width: 768px) {

  .section__what {
    margin: 60px 0 0;
  }

  .what__title {
    inline-size: 236px;
  }
}

@media (min-width: 1024px) {

  .what__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .what__title {
    inline-size: 315px;
}
}