/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font-family: 'IBM Plex Mono';
  --main-bg-color: var(--decor-text-color);
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --shadow-color: #db00ff;
  --decor-text-color: #000028;
  --accent-bg-color: var(--accent-color);
}
